@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

@using (Html.BeginForm()){
    @Html.HiddenFor(model => model.EngineerId)

    @Html.DisplayNameFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Edit tag" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>