@{
    Layout = "_Layout";
}

<h1>Dr. Sillystringz's Factory</h1>
<h2>Maintainance records</h2>

<p>@Html.ActionLink("Engineers List", "Index", "Engineers")</p>
<p>@Html.ActionLink("Machines List", "Index", "Machines")</p>

